<?xml version='1.0' encoding='utf-8' ?>
<widget id="io.github.pwlin.wisconsin" version="0.0.5" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Wisconsin</name>
    <description>
        A Very Simple Android App Repository For Raccoon
    </description>
    <author email="pwlin05@gmail.com" href="https://github.com/pwlin">
        pwlin
    </author>
    <content src="index.html" />
    <access origin="*" />
    <icon src="src/res/icons/app_icon_mdpi_48.png" />
    <platform name="android">
        <icon src="src/res/icons/app_icon_ldpi_36.png" density="ldpi" />
        <icon src="src/res/icons/app_icon_mdpi_48.png" density="mdpi" />
        <icon src="src/res/icons/app_icon_hdpi_72.png" density="hdpi" />
        <icon src="src/res/icons/app_icon_xhdpi_96.png" density="xhdpi" />
    </platform>
    <preference name="BackupWebStorage" value="none" />
    <preference name="BackgroundColor" value="#000000" />
</widget>
